In [7]:
# print('tell me your age?')
myage = int(input('tell me your age? \n'))
if myage < 30 :
    print('welcome to the club')
else:
    print('oh! no. you are not accepted.')

tell me your age?
 6

welcome to the club

In [6]:
type(myage)

int

In [8]:
# 주민번호를 입력받아서 생년월일(6자리)를 출력하고, 성별을 판별하여 출력하세요
# str은 인덱싱과 슬라이싱이 가능합니다.

In [10]:
data = input('주민등록번호 입력(ex:230101-4123456) >>> ')
if data[7] in ('1','3'):
    data1 = '남자'
elif data[7] in ('2','4'):
    data1 = '여자'
else:
    data1 = '입력값오류'
print('생년월일 :',data[:6],' 성별: ',data1)

주민등록번호 입력(ex:230101-4123456) >>>  230101-4123456

생년월일 : 230101  성별:  여자

In [12]:
data = ['a',2,'vvv',3,4,5]
for i in data:
    print(i)

a
2
vvv
3
4
5

In [13]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i,item in enumerate(data):
    print(i,item)

0 a
1 2
2 vvv
3 3
4 4
5 5

In [15]:
# 구구단 출력 2단부터 차례대로 출력하세요

In [16]:
for x in range(2,10):
    print('\n -----',x,'단 --------')
    for y in range(1,10):
        print(x,' * ',y,' = ',x*y)

 ----- 2 단 --------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

 ----- 3 단 --------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

 ----- 4 단 --------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

 ----- 5 단 --------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

 ----- 6 단 --------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

 ----- 7 단 --------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

 ----- 8 단 --------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

 ----- 9 단 --------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [17]:
for x in range(1,10):
    for y in range(2,10):
        print(y,' * ',x,' = ',x*y, end='  ') 
    print()

2  *  1  =  2  3  *  1  =  3  4  *  1  =  4  5  *  1  =  5  6  *  1  =  6  7  *  1  =  7  8  *  1  =  8  9  *  1  =  9
2  *  2  =  4  3  *  2  =  6  4  *  2  =  8  5  *  2  =  10  6  *  2  =  12  7  *  2  =  14  8  *  2  =  16  9  *  2  =  18
2  *  3  =  6  3  *  3  =  9  4  *  3  =  12  5  *  3  =  15  6  *  3  =  18  7  *  3  =  21  8  *  3  =  24  9  *  3  =  27
2  *  4  =  8  3  *  4  =  12  4  *  4  =  16  5  *  4  =  20  6  *  4  =  24  7  *  4  =  28  8  *  4  =  32  9  *  4  =  36
2  *  5  =  10  3  *  5  =  15  4  *  5  =  20  5  *  5  =  25  6  *  5  =  30  7  *  5  =  35  8  *  5  =  40  9  *  5  =  45
2  *  6  =  12  3  *  6  =  18  4  *  6  =  24  5  *  6  =  30  6  *  6  =  36  7  *  6  =  42  8  *  6  =  48  9  *  6  =  54
2  *  7  =  14  3  *  7  =  21  4  *  7  =  28  5  *  7  =  35  6  *  7  =  42  7  *  7  =  49  8  *  7  =  56  9  *  7  =  63
2  *  8  =  16  3  *  8  =  24  4  *  8  =  32  5  *  8  =  40  6  *  8  =  48  7  *  8  =  56  8  *  8  =  64  9  *  8  =  72
2  *  9  =  18  3  *  9  =  27  4  *  9  =  36  5  *  9  =  45  6  *  9  =  54  7  *  9  =  63  8  *  9  =  72  9  *  9  =  81

In [22]:
for x in range(2,10):
    print('\n -----',x,'단 --------')
    for y in range(1,10):
        if y == 5: 
            break
        print(x,' * ',y,' = ',x*y)

 ----- 2 단 --------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8

 ----- 3 단 --------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12

 ----- 4 단 --------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16

 ----- 5 단 --------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20

 ----- 6 단 --------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24

 ----- 7 단 --------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28

 ----- 8 단 --------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32

 ----- 9 단 --------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36

In [23]:
for x in range(2,10):
    if x == 5: 
            continue
    print('\n -----',x,'단 --------')
    for y in range(1,10):
        print(x,' * ',y,' = ',x*y)

 ----- 2 단 --------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

 ----- 3 단 --------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

 ----- 4 단 --------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

 ----- 6 단 --------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

 ----- 7 단 --------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

 ----- 8 단 --------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

 ----- 9 단 --------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [24]:
# 짝수단만 출력해보세요

In [26]:
for x in range(2,10):
    if (x%2) == 1: 
            continue
    print('\n -----',x,'단 --------')
    for y in range(1,10):
        print(x,' * ',y,' = ',x*y)

 ----- 2 단 --------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

 ----- 4 단 --------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

 ----- 6 단 --------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

 ----- 8 단 --------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

In [2]:
data = [1,2,3,4,5]
while(data):
    print(data.pop())

5
4
3
2
1

In [3]:
while(1):
    menu = input('1. 데이터 입력, 2. 데이터 수정  3.데이터 삭제 4.종료 >>>')
    if menu == '1':
        pass
    elif menu =='2':
        pass
    elif menu == '3':
        pass
    elif menu == '4':
        print('프로그램 종료')
        break

1. 데이터 입력, 2. 데이터 수정  3.데이터 삭제 4.종료 >>> 1
1. 데이터 입력, 2. 데이터 수정  3.데이터 삭제 4.종료 >>> 2
1. 데이터 입력, 2. 데이터 수정  3.데이터 삭제 4.종료 >>> 3
1. 데이터 입력, 2. 데이터 수정  3.데이터 삭제 4.종료 >>> 4

프로그램 종료

In [4]:
import random

In [5]:
guess_number = random.randint(1,100)
print(guess_number)
users_input = int(input('숫자를 맞춰보세요.(1~100) >>> '))
while(users_input is not guess_number):
    if users_input > guess_number:
        print('숫자가 너무 큽니다.')
    else:
        print('숫자가 너무 작습니다.')
    users_input = int(input('숫자를 맞춰보세요.(1~100) >>> '))
print('정답입니다. 입력한 숫자는 ',users_input)

33

숫자를 맞춰보세요.(1~100) >>>  22

숫자가 너무 작습니다.

숫자를 맞춰보세요.(1~100) >>>  44

숫자가 너무 큽니다.

숫자를 맞춰보세요.(1~100) >>>  33

정답입니다. 입력한 숫자는  33

## 로또 번호 생성
5셋트의 번호를 추출합니다. 
1셋트에 번호는 6개를 추출합니다.(1~45범위에서 추출)
6개의 번호는 중복되지 않습니다.
추출후 번호는 오름차순으로 정렬해서 출력합니다

In [11]:
result = []
for i in range(5):
    lotto = [0,0,0,0,0,0]
    for x in range(6):
        num = 0 
        while(num in lotto):
            num = random.randint(1,45)
        lotto[x] = num
    lotto.sort()
    result.append(lotto)
    print(lotto)

[3, 12, 14, 36, 40, 41]
[2, 9, 11, 16, 32, 36]
[9, 14, 18, 19, 25, 43]
[7, 18, 22, 34, 37, 45]
[12, 15, 16, 17, 21, 45]

In [12]:
result

[[3, 12, 14, 36, 40, 41],
 [2, 9, 11, 16, 32, 36],
 [9, 14, 18, 19, 25, 43],
 [7, 18, 22, 34, 37, 45],
 [12, 15, 16, 17, 21, 45]]

In [15]:
for i in range(5):
    print(sorted(random.sample(range(1,46),6)))

[17, 31, 35, 38, 41, 42]
[3, 4, 11, 18, 19, 38]
[11, 17, 30, 34, 42, 45]
[10, 11, 15, 18, 19, 38]
[5, 7, 11, 16, 22, 37]

1. 야구게임
중복되지 않는 3자리 숫자를 컴퓨터가 정하면 그 숫자를 맞출 때 까지 반복한다.(0은 제외)
숫자와 자리 위치까지 일치하면 스트라이크
숫자는 있는데 자리는 맞지 않다면 볼
스트라이크가 3개가 되면 맞춘 것이므로 멈춘다.
몇 번 만에 맞춘 것인지 횟수도 체크한다.

컴퓨터 246    입력 128   1볼
컴퓨터 246    입력 279   1스트라이크

In [2]:
import random

com = random.sample( range(1,10) , 3 )
print(com)
strike = 0
count = 0
print('시작!')
while strike != 3:
    strike = 0
    ball = 0 
    guess = list(input('3자리 숫자를 입력하세요 >>>'))
    print(guess)
    for a in guess:
        for b in com:
            if int(a) == b:
                if guess.index(a) == com.index(b):
                    strike += 1
                else:
                    ball += 1
    count += 1
    print('strike:',strike,' ball:',ball,' 시도횟수:',count)
print('정답!')

[4, 7, 8]
시작!
ERROR! Session/line number was not unique in database. History logging moved to new session 8

3자리 숫자를 입력하세요 >>> 592

['5', '9', '2']
strike: 0  ball: 0  시도횟수: 1

3자리 숫자를 입력하세요 >>> 487

['4', '8', '7']
strike: 1  ball: 2  시도횟수: 2

3자리 숫자를 입력하세요 >>> 478

['4', '7', '8']
strike: 3  ball: 0  시도횟수: 3
정답!

2. 사칙연산게임
컴퓨터가 사칙연산 문제를 내면 답을 맞추는 게임
컴퓨터는 두 개의 숫자와 연산자를 무작위로 선택한다.
숫자값은 1~50 범위에서 선택
사칙연산만 가능, 나누기는 결과값을 정수로 변경 후 처리.

컴퓨터 2 + 4 
       5 - 8
       3 * 4
       8 / 3     -> 답은 2로 처리

In [7]:
import random

oper = ['+','-','*','/']
count = 0
for x in range(5):
    # count = 0
    a = random.randint(1,50)
    b = random.randint(1,50)
    op = oper[random.randint(0,3)]
    print(a,op,b,'=')
    answer = int(input('정답 >>> '))
    result = 0 
    if op == '+':
        result = a+b
    elif op == '-':
        result = a-b
    elif op == '*':
        result = a*b
    elif op == '/':
        result = int(a/b)
    if answer == result:
        print('정답')
        count += 1
    else:
        print('오답!')
print(count,'개 맞음')

26 - 19 =

정답 >>>  0

오답!
42 + 11 =

정답 >>>  53

정답
25 - 14 =

정답 >>>  11

정답
13 - 29 =

정답 >>>  1

오답!
1 * 12 =

정답 >>>  12

정답
3 개 맞음

In [9]:
import random

oper = ['+','-','*','/']
count = 0
for x in range(5):
    a = random.randint(1,50)
    b = random.randint(1,50)
    op = random.choice(oper)
    quiz = str(a)+op+str(b)
    print(quiz,'=')
    answer = int(input('정답 >>> '))
    result = 0 

    if answer == int(eval(quiz)):
        print('정답')
        count += 1
    else:
        print('오답!')
print(count,'개 맞음')

48+16 =

정답 >>>  64

정답
48/50 =

정답 >>>  0

정답
41+29 =

정답 >>>  0

오답!
16-9 =

정답 >>>  0

오답!
8/36 =

정답 >>>  0

정답
3 개 맞음

In [10]:
'print(1+2)'

'print(1+2)'

In [11]:
eval('print(1+2)')

3