In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/ch1_sport_test.csv',index_col='학생번호')

In [5]:
df.head(2)

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      10 non-null     int64
 1   악력      10 non-null     float64
 2   윗몸일으키기  10 non-null     int64
 3   점수      10 non-null     int64
 4   순위      10 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 480.0 bytes

In [7]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [8]:
df.shape

(10, 5)